*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* utility */
/* .debug{
border:2px solid black;
} */

main{
height: calc(100vh-100px);
background-color: black;
overflow: auto;
}

footer{
height: 85px;
}

.container{
margin: 0 auto;
max-width: 1820px;
padding-top: 50px;
width: 99%;

}

.d-flex{
  display: flex;
  flex-wrap: wrap;
}

.p-relative{
position: relative;
}
/* header */
/* main */
.container .icon{
width: calc(100% / 7);
margin: 20px 0px;

}
.container .icon .name-user{
position: absolute;
bottom: 4px;
display: inline-block;
}

.container .icon .name-user span{
  width: 110px;
  display: inline-block;
  background-color: rgba(0,0,0,0.4);
  padding: 4px;
  color: white;
}
/* footer */
footer .bar{
justify-content: space-between;
width: 100%;
align-items: center;

}

footer .bar .video-audio{
width: 250px;
height: 100px;
justify-content: center;
align-items: center;
}
/* audio */
footer .bar .video-audio .audio{
width: 50px;
font-size: 17px;
}
footer .bar .video-audio .audio .fa-solid{
font-size: 47px;
}
/* video */