* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
/* .debug{
border:2px solid black;
} */

main {
  height: calc(100vh - 115px);
  background-color: black;
  overflow: auto;
}

footer {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  color: white;
}

header{
height: 35px;
background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1820px;
  padding-top: 25px;
  width: 99%;
  
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.p-relative {
  position: relative;
}

/* header */
.top{
justify-content: end;
color: white;
position: fixed;
z-index: 999;
right: 0;
}

.top .speaker{
  background-color: #4a4a4a;
  padding: 6px;
  border-radius: 10px;
  margin-top: 5px;
}
.top .grande{
  background-color: #4a4a4a;
  padding: 6px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 6px;
}
/* main */
.container .icon {
  width: calc(100% / 7);
  margin: 6px 0px;
  padding-bottom: 5px;
  min-width: 230px;
  aspect-ratio: 16 / 9;
}

.container .icon .name-user {
  position: absolute;
  bottom: 4px;
  display: inline-block;
}

.container .icon .name-user span {
  width: 110px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  color: white;
}

/* footer */
footer{
  background-color: #222222;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, 
.footer-center, 
.footer-right{
  height: 100%;
}

.footer-left, 
.footer-center{
  display: flex;
  flex-shrink: 0;
}

footer .icon{
  height: 100%;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

footer .icon i{
  font-size: 1.7rem;
}

footer .icon i.fa-angle-up{
  font-size: 1rem;
}

footer .icon:hover i,
footer .icon.active i{
  color:  green;
}

.footer-right button{
  height: 100%;
  padding: 15px;
  background-color: #4A4A4A;
  color: red;
  border: 0;
  cursor: pointer;
}

