* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
/* .debug{
border:2px solid black;
} */

main {
  height: calc(100vh-100px);
  background-color: black;
  overflow: auto;
}

footer {
  height: 100px;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1820px;
  padding-top: 50px;
  width: 99%;

}

.fa-solid{

}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.p-relative {
  position: relative;
}

/* header */
/* main */
.container .icon {
  width: calc(100% / 7);
  margin: 20px 0px;

}

.container .icon .name-user {
  position: absolute;
  bottom: 4px;
  display: inline-block;
}

.container .icon .name-user span {
  width: 110px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  color: white;
}

/* footer */
footer .bar {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #222222;
  color: white;

}

footer .bar .video-audio {
  width: 190px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* audio */
footer .bar .video-audio .audio {
  width: 50px;
  font-size: 17px;
}

footer .bar .video-audio .audio .fa-solid {
  font-size: 47px;
}

footer .bar .video-audio .fa-solid.fa-angle-up {
  padding-right: 15px;
}

/* video */
footer .bar .video-audio .video{
  width: 78px;
  font-size: 17px;
}
footer .bar .video-audio .video .fa-solid {
  font-size: 47px;
}

/* more */

.more{
justify-content: space-between;
display: ;
}
.more span .fa-solid,.fa-regular{
font-size: 45px;
text-align: center;
align-items: center;
}

.more span .fa-solid.fa-chevron-up{
font-size: 20px;
width: 20px;
}

.more span {
padding-right: 35px;
width: 65px;
text-align: center;
display: inline-block;
align-items: center;
}
/* end */
.end{
  background-color: #4a4a4a;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;

}
.end span{
  padding: 20px;
  font-size: 20px;
  color: red;


}

